.u-section-1 .u-sheet-1 {
  min-height: 1113px;
}

.u-section-1 .u-group-1 {
  min-height: 993px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 23px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 87px auto 0 7px;
}

.u-section-1 .u-image-1 {
  width: 540px;
  height: 521px;
  margin: 57px 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -560px 578px 0 7px;
}

.u-section-1 .u-text-3 {
  margin: 9px 578px 0 7px;
}

.u-section-1 .u-text-4 {
  margin: 8px 578px 0 7px;
}

.u-section-1 .u-text-5 {
  margin: 8px 578px 0 7px;
}

.u-section-1 .u-text-6 {
  margin: 7px 578px 0 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 190px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -161px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 471px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 377px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 377px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 384px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 384px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1277px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1202px;
    width: 755px;
    margin-right: -35px;
    margin-bottom: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-1 {
    height: 315px;
    width: 385px;
    margin-top: 779px;
    margin-right: 159px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1076px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 157px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 9px;
    margin-right: 157px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 164px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 164px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 135px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 4px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 4px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 11px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1676px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1563px;
    margin-top: 25px;
    margin-bottom: 57px;
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 42px;
    margin-left: 39px;
  }

  .u-section-1 .u-image-1 {
    width: 243px;
    height: 243px;
    margin-top: 1237px;
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1451px;
    margin-right: 4px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 17px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 17px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 17px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 17px;
    margin-right: 7px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 737px;
}

.u-section-2 .u-group-1 {
  min-height: 617px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 540px;
  height: 521px;
  margin: 18px auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: -455px auto 0 571px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0 571px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: 944px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    width: 440px;
    height: 425px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 62px;
    margin-right: 89px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 371px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-2 .u-group-1 {
    min-height: 859px;
    margin-top: 37px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 23px;
  }

  .u-section-2 .u-image-1 {
    width: 483px;
    height: 367px;
    margin-top: 464px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -762px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-2 .u-group-1 {
    min-height: 796px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 319px;
    height: 305px;
    margin-top: 452px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -705px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 33px;
    margin-left: 10px;
    margin-right: 10px;
  }
}